torch
torchvision
torchaudio
pretrainedmodels==0.7.4


imgaug==0.2.6
scikit-image
opencv-python
imageio
Shapely

torchtext==0.4.0
spacy
sentencepiece

ax-platform

six
numpy
scipy
scikit-learn
pandas

hiddenlayer==0.2

future
