torch
torchvision
torchaudio
torchgpipe==0.0.2
pretrainedmodels==0.7.4


imgaug==0.2.6
scikit-image
opencv-python
imageio
Shapely

torchtext==0.4.0
nltk
spacy
sentencepiece
pytorch-transformers==1.0.0

fastai==1.0.54
ax-platform

six
numpy
scipy
scikit-learn
pandas
networkx
librosa

hiddenlayer==0.2

future
