torch
torchvision
torchgpipe

imgaug
scikit-image
opencv-python
imageio
Shapely
albumentations

torchtext
nltk
spacy

fastai
ax-platform
adabound

six
numpy
scipy
scikit-learn
pandas

tb-nightly

future
